services:
  redis:
    image: redis:7.2.12
    container_name: redis
    restart: always
    environment:
      TZ: Asia/Shanghai
    ports:
      - "6379:6379"
    volumes:
      - ${PWD}/conf:/usr/local/etc/redis
      - ${PWD}/data:/data
    networks:
      - develop
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 10s
    
networks:
  develop:
    external: true