services:
  zentao:
    image: easysoft/zentao:21.7.6
    container_name: zentao
    pull_policy: always
    restart: always
    ports:
      - '5188:80'
    volumes:
      - 'zentao_data:/data'
      - '/docker/zentao/zentao-21.7/data:/data'
    environment:
      - ZT_MYSQL_HOST=47.97.188.122
      - ZT_MYSQL_PORT=3306
      - ZT_MYSQL_USER=zentao
      - ZT_MYSQL_PASSWORD=mF.x23*iCs
      - ZT_MYSQL_DB=zentao
      # 从21.3版本开始，如果已经设置了redis相关环境变量自动开启redis session缓存，可不用配置如下环境变量
      - PHP_SESSION_TYPE=redis
      - PHP_SESSION_PATH=tcp://147.197.188.122:6379?auth=gri48fktvyhg
      - PHP_EXT_REDIS=true
      - PHP_SESSION_REDIS_DATABASE=1 # 如果session是redis默认使用6, session database和cache database不要复用
      # end
      - ZT_REDIS_HOST=147.197.188.122
      - ZT_REDIS_PORT=6379
      - ZT_REDIS_PASSWORD=gri48fktvyhg
      - ZT_REDIS_SERIALIZER=igbinary # php, igbinary
      - ZT_REDIS_DATABASE=2 # 默认禅道为0
      - ZT_CACHE_ENABLE=true
      - ZT_CACHE_TYPE=redis
      - ZT_CACHE_SCOPE=private
      - ZT_CACHE_LIFETIME=0
      - PHP_MAX_EXECUTION_TIME=120
      - PHP_MEMORY_LIMIT=512M
      - PHP_POST_MAX_SIZE=128M
      - PHP_UPLOAD_MAX_FILESIZE=128M
    networks:
      - develop
networks:
  develop:
    driver: bridge
# persistence for mysql, cache and zentao
volumes:
  zentao_db:
  zentao_cache:
  zentao_data: